<html>
  <head>

    <!-- General Settings -->
    <meta charset="utf-8">
    <meta http-equiv="content-language" content="en-us">
    <base href="{global.baseUrl}" />

    <!-- Meta Tags -->
    <title>{head.title} | {global.appName}</title>
    <meta name="description" content="{head.description}">

    <!-- Static Assets -->
    <!-- <link type="image/x-icon" rel="icon" href="favicon.ico"> -->
    <script type="text/javascript" charset="utf-8" src="public/app.js"></script>
    <link rel="stylesheet" type="text/css" href="public/app.css" />

  </head>
  <body class="{body.class}">
    <!-- Page Wrapper -->
    <div class="wrapper">
      <!-- Header -->
      <div class="header">
        <nav class="navbar">
          <a href="#" class="logo">Pizza on the Rocks</a>
          <ul class="main-nav">
            <li><a href="/" class="nav-links">Home</a></li>
            <li><a href="/edit/cart" class="nav-links loggedIn">Menu</a></li>
            <li><a href="/edit/cart" class="nav-links loggedIn">Cart</a></li>
            <li><a href="/session/create" class="nav-links loggedOut">Sign In</a></li>
            <li><a id="logoutButton" href="/session/deleted" class="nav-links loggedIn">Sign Out</a></li>
          </ul>
        </nav>
      </div>

      <!-- Page-Specific Content -->
      <div class="content">
