<div class="main-page">
  <h1>Order mouth-watering pizzas in under 5 min</h1>
  <div class="main-wrapper">
    <h4>Please sign up or login. Sit deserunt excepteur minim sint labore nostrud cillum. Ea mollit laborum id cupidatat duis adipisicing enim deserunt velit deserunt ipsum Lorem eiusmod. Minim aliqua consectetur eu mollit mollit dolor.</h4>
    <div class="main-button-wrapper">
      <a class="green-button" href="account/create">Sign Up</a>
      <a class="blue-button" href="session/create">Login</a>
    </div>
  </div>
</div>